// expand card
.expand-card {
  background-color: #212433 !important;
}
// farming card
.farming-card {
  background-color: #2c2e3d !important;
}

.account-card,
.farm-card-widget {
  box-shadow: none !important;
  background: #2c2e3d !important;
}
